* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main {
  flex: 1; /* conteúdo principal ocupa todo o espaço disponível */
  padding: 20px;
}

#cadastro-form {
    max-width: 400px;
    margin: auto;
}

.float-label {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

p.mensagem {
    font-weight: bold;
    margin-bottom: 20px;
}